@import './modules/variables.sass'
@import './modules/margin-and-padding'
@import './modules/button.sass'
@import './modules/text.sass'

body
  margin: 0

a
  text-decoration: none
  cursor: pointer
  color: unset

.container
  max-width: 1400px
  display: block
  margin: 0 auto
  padding-left: 40px
  padding-right: 40px

.section
  padding-top: $spacing-units * 6
  padding-bottom: $spacing-units * 6



